  

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="../images/tmdb.svg" height="85px" width="auto">
      </a>
      <a href="/" class="title"><h1 > Avengers Movies </h1></a><br/>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </nav>

 

  <div class="searchBox">
  
    <div>
      <form class="input" action='/search' method='GET'>
        <input class="searchBox" name='searchTerm' placeholder="Search for a movie..."/>
        
      </form>
    </div>

  

</div>



