

    <% include ./partials/header %> 
    <main class="bg">

      <div class="container">
        <div class="row">
            <div class="errImg">
              <h3>We can't seem to find what you're looking for...</h3><br/>
              
                 <img src="../images/racoon.gif" > 
              
            </div>
        </div>    
      </div>
    </main>
  </body>
</html>
