<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Home</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="styles.css" rel="stylesheet" type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    <header>
    
    </header>

    <main>
    <div class="container">
      
        <div class="row">

    <h1 class="title">Movie here!</h1><br/>
        </div>

      <div class="row">
        <form action='/search' method='GET'>
          <input name='searchTerm' placeholder="Search"/>
          <button type='submit'>Search</button>
        </form>
      </div>

      <% for (let i = 0; i < movies.length; i++) { %>
        <div class="row">
        <h3><a href="/movie/<%= movies[i].movieId %>"><%= movies[i].title %><a><br/></h3>        
                
        <p class="plot"><%= movies[i].plot %><br/></p>
        </div>    
      <% }; %>       
      
        
      
    </main>
  </body>
</html>
