<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Movie</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    <header>
    
    </header>
    <main>
    <div class="container">
        <div class="row">
          <h1 class="title">Details here!</h1><br/>
        </div>      
        <div class="row">
          <h3><%= movie.title %><br/></h3>              
          <p class="plot"><%= movie.plot %><br/></p>
          <a href="../">Home</a>
        </div>    
             
    </main>
  </body>
</html>
